.container{
  display: flex;
  flex-direction: row;
  margin-bottom: 2rem;
  justify-content: center;
  align-items: center;
}
.textSection {
 width: 40%;
  padding: 20px;
}
.image {
  max-width: 40%;
  height: auto;
}